<header class="flexbox-header">
    <div>
        <a href="/forecast" class="logo">Forecast weather</a>
    </div>
    <div class="flexbox-menu">
        <div>
            <a href="/log" >History of queries users</a>
        </div>
        <div>
            <a href="/cities">Favorite cities</a>
        </div>
    </div>
</header>
<br />
<br />
<br />
<router-outlet></router-outlet>
<br />
<br />
<br />
<br />
<br />
<br />
<footer class="flexbox-footer">
    <div>&copy; @DateTime.Now.Year – Homework in the Binary Studio Academy</div>
    <div>
        <p>Our office</p><hr />
        <p>http://academy.binary-studio.com/</p>
        <p>UA, Lviv</p>
    </div>
</footer>