#cities {
    color: lightgoldenrodyellow;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255, 0.5);
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    width: 40vw;
    margin: auto;
    flex-direction: column;

    .flex {
        color: ghostwhite;
        white-space: normal;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        align-items: stretch;
        width: 100%;

        div {
            font-size: 12pt;
            flex-wrap: nowrap;
            margin: 0.3vw 1vw;
        }
    }

    hr {
        color: ghostwhite;
    }

    span {
        font-size: 20pt;
    }
}

.crud {
    margin: auto;
    border-radius: 5px;
    vertical-align: top;
    color: lightblue;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255, 0.5);
    width: 40vw;
    padding: 5px;
    border-collapse: collapse;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
        font-size: 20pt;
        color: ghostwhite;
    }

    a{
        color: ghostwhite;
    }
}

#flexbox-header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 255, 0, 0.5);
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#flexbox-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    div {
        margin: 0 10px;

        a {
            color: white;
            font-size: 13pt;
        }
        a:hover {
            background-color: white;
            color: navy;     
            text-decoration: none;
            border-radius: 10%;
            transition: all 0.5s ease-out;
        }
    }
}

#logo {
    font-size: 30pt;
    color: white;
}

#logo:hover {
    background-color: white;
    color: navy;
    text-decoration: none;
    border-radius: 10%;
    transition: all 0.5s ease-out;
}

.main-content {
    .flexbox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    form{
        div {
            margin: 0 1vw;
        }
    }
}

#flexbox-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    div{
        text-align: right;
    }

    hr {
        padding: 0;
        margin: 0;
    }
}

button{
    color: black;
}