.log-table {
    margin: auto;
    color: lightgoldenrodyellow;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255, 0.5);
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    min-width: 90%;

    caption {
        font-size: xx-large;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    th {
        vertical-align: top;
        color: ghostwhite;
        font-size: 12pt;
        text-align: center;
        white-space: normal;
    }

    td {
        font-size: 12pt;
    }
}
